.bubbledLeft, .bubbledRight{
  max-width: 60%;
}

.bubbledLeft {
   -webkit-align-self: flex-start;
   align-self: flex-start;
}

.bubbledRight{
  -webkit-align-self: flex-end;
  align-self: flex-end;
}
